---
import TagBadge from './TagBadge.astro';

export interface Props {
  tags: string[];
  class?: string;
}

const { tags = [], class: className = '' } = Astro.props;
---

{tags.length > 0 && (
  <div class={`flex flex-wrap gap-2 ${className}`}>
    {tags.map((tag) => (
      <TagBadge tag={tag} />
    ))}
  </div>
)}
